<p>
  <strong>タイトル:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong>イメージ:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to '編集画面へ', edit_book_path(@book) %> |
<%= link_to '全体画面へ', books_path %>
